* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
display: flex;
flex-direction: column;

height: 100vh;
background-image:url(https://asset.gecdesigns.com/img/wallpapers/aesthetic-purple-orange-beautiful-nature-desktop-wallpaper-sr10012413-1706503295947-cover.webp);
background-size: cover;

}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  
}
.button button{
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(143, 92, 126);
  border: none;
  font-weight: bolder;
  color: white;
  transition: transform .5s ease-in-out;
}
button:hover { 
  transform: scale(1.2);
}
.container-body{
display: flex;

justify-content: center;

}
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height:600px;
  overflow: hidden;
  justify-content: start;
  
  
}

.box  {
  
  aspect-ratio: 1;
  background-color: white;
  border: 1px solid black;

}